.cursor {
    z-index: 999;
    position: fixed;
    background: #2696e8;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 20px #2696e8,
        0 0 60px #2696e8,
        0 0 100px #2696e8;

    animation: colors 5s infinite;
    /* transform: translate(-50%, -50%); */
    display: none;


}

@keyframes colors {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

.cursor:before {
    content: '';
    position: absolute;
    background: #2696e8;
    width: 50px;
    height: 50px;
    opacity: 0.2;
    transform: translate(30%, -30%);
    border-radius: 50%;
}

/* ---- light mod -----  */


/* body.light-mode .ServicesBlockInner {} */


/* ---------------  */
body {
    font-family: 'Tajawal', sans-serif !important;
    color: #fff;
    background: #000;



}

* {
    transition: all 200ms;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: unset;
}

.MainHead {
    background: url(../images/office.jpeg) center center no-repeat;
    background-size: cover;
    min-height: 800px;
}

.BgOpacity {
    background: rgba(0, 0, 0, 0.4);
    min-height: 800px;
}

.topNav {
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
}

.TalkLeft h5 {
    border-left: 1px solid #fff;
    display: inline-block;
    font-size: 16px;
    padding-left: 10px;
    margin-bottom: 0;
    margin-right: -11px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.TalkLeft a {
    margin-left: 10px;
    font-size: 16px;
}

.TopLink {
    text-align: left;
}

.TalkLeft a {
    font-size: 16px;
    border-left: 1px solid #fff;
    padding: 10px;
}

.TopLink {
    text-align: left;
}

.TopLink a {
    display: inline-block;
    padding: 10px;
    border-left: 1px solid #fff;
    font-size: 13px;
    position: relative;
}

.TopLink a:last-child {
    border-left: 0;
    padding-left: 0;
    margin-left: -5px;
}

.logo a {
    display: inline-block;
}

.logo a img {
    width: 200px;
}

a.nav-link.active {
    color: #fff !important;
    border-bottom: 1px solid #fff;
}

.nav-link {
    color: #fff;
    margin: 0 8px;
}

.nav-link:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
}

.WelcomeSec {
    margin-top: 170px;
}

.WelcomeTopH5 h5 {
    font-size: 13px;
    background: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 5px 10px;
    border-radius: 6px;
    margin-bottom: 0;
}

.GetNextH1 h1 {
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 50px;
    margin: 20px 0;
}

.WelcomeBtn button {
    background: darkred;
    color: #fff;
    padding: 10px 30px;
    border-radius: 40px;
    letter-spacing: 2px;
    outline: 0;
    border: 0;
}

.WelcomeBtn button:active {
    border: 0;
}

.WelcomeBtn button:hover {
    background: #0d6ac9;
}

.MainValuesBlock {
    text-align: center;
    margin-top: 100px;
}

.ValuesH1 {
    margin-bottom: 60px;
}

.ValuesH1 h1 {
    font-weight: bold;
    font-size: 50px;
}

.ValuesBlock {
    text-align: center;
    margin-bottom: 40px;
}

.ValuesBlock img {
    width: 50px;
}

.ValuesBlock h1 {
    margin: 20px 0;
    font-size: 23px;
    font-weight: bold;
}

.ValuesBlock p {
    font-size: 16px;
    color: #c1c1c1;
    padding: 0 15px;
}

.MainServicesBlock {
    text-align: left;
    margin-top: 100px;
}

.ServicesH1 {
    margin-bottom: 60px;
}

.ServicesH1 h1 {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

.ServicesBlockInner img {
    width: 50px;
    vertical-align: middle;
}

/* ---- .ServicesBlock -----  */

.ServicesBlock {
    text-align: right;
    margin-bottom: 25px;
}

.ServicesBlock2 {
    text-align: right;
    margin-bottom: 25px;
}

.ServicesBlock3 {
    text-align: right;
    margin-bottom: 25px;
}

.ServicesBlock4 {
    text-align: right;
    margin-bottom: 25px;
}

.ServicesBlock5 {
    text-align: right;
    margin-bottom: 25px;
}

.ServicesBlock6 {
    text-align: right;
    margin-bottom: 25px;
}

.ServicesBlockInner {
    background: black;
    box-shadow: 0px 4px 8px rgba(63, 61, 61, 0.8);

    border-radius: 10px;
    padding: 35px 15px;
}

/* -------icons colors -----  */

span.ServImgSpan {
    background: orange;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}

span.ServImgSpan1 {
    background: #75489C;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}

span.ServImgSpan2 {
    background: #B8509D;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}

span.ServImgSpan3 {
    background: purple;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}

span.ServImgSpan4 {
    background: #3D84C4;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}

span.ServImgSpan5 {
    background: gray;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}

span.ServImgSpan6 {
    background: green;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}


.ServicesBlock img {
    width: 50px;
}

/* ------- underlins position ----- */

.ServicesBlock h1 {
    margin: 20px 0;
    font-size: 23px;
    font-weight: bold;
    position: relative;
}

.ServicesBlock2 h1 {
    margin: 20px 0;
    font-size: 23px;
    font-weight: bold;
    position: relative;
}

.ServicesBlock3 h1 {
    margin: 20px 0;
    font-size: 23px;
    font-weight: bold;
    position: relative;
}

.ServicesBlock4 h1 {
    margin: 20px 0;
    font-size: 23px;
    font-weight: bold;
    position: relative;
}

.ServicesBlock5 h1 {
    margin: 20px 0;
    font-size: 23px;
    font-weight: bold;
    position: relative;
}

.ServicesBlock6 h1 {
    margin: 20px 0;
    font-size: 23px;
    font-weight: bold;
    position: relative;
}

/* ----- underlines -----  */
.ServicesBlock h1:before {
    content: "";
    display: block;
    height: 6px;
    background: orange;
    width: 55px;
    position: absolute;
    bottom: -15px;
    border-radius: 20px;
}

.ServicesBlock h1:after {
    content: "";
    display: block;
    height: 6px;
    background: orange;
    width: 20px;
    position: absolute;
    bottom: -15px;
    right: 70px;
    border-radius: 5px;
}

.ServicesBlock2 h1:before {
    content: "";
    display: block;
    height: 6px;
    background: #B8509D;
    width: 55px;
    position: absolute;
    bottom: -15px;
    border-radius: 20px;
}

.ServicesBlock2 h1:after {
    content: "";
    display: block;
    height: 6px;
    background: #B8509D;
    width: 20px;
    position: absolute;
    bottom: -15px;
    right: 70px;
    border-radius: 5px;
}

.ServicesBlock3 h1:before {
    content: "";
    display: block;
    height: 6px;
    background: purple;
    width: 55px;
    position: absolute;
    bottom: -15px;
    border-radius: 20px;
}

.ServicesBlock3 h1:after {
    content: "";
    display: block;
    height: 6px;
    background: purple;
    width: 20px;
    position: absolute;
    bottom: -15px;
    right: 70px;
    border-radius: 5px;
}

.ServicesBlock4 h1:before {
    content: "";
    display: block;
    height: 6px;
    background: grey;
    width: 55px;
    position: absolute;
    bottom: -15px;
    border-radius: 20px;
}

.ServicesBlock4 h1:after {
    content: "";
    display: block;
    height: 6px;
    background: grey;
    width: 20px;
    position: absolute;
    bottom: -15px;
    right: 70px;
    border-radius: 5px;
}

.ServicesBlock5 h1:before {
    content: "";
    display: block;
    height: 6px;
    background: #3D84C4;
    width: 55px;
    position: absolute;
    bottom: -15px;
    border-radius: 20px;
}

.ServicesBlock5 h1:after {
    content: "";
    display: block;
    height: 6px;
    background: #3D84C4;
    width: 20px;
    position: absolute;
    bottom: -15px;
    right: 70px;
    border-radius: 5px;
}

.ServicesBlock6 h1:before {
    content: "";
    display: block;
    height: 6px;
    background: green;
    width: 55px;
    position: absolute;
    bottom: -15px;
    border-radius: 20px;
}

.ServicesBlock6 h1:after {
    content: "";
    display: block;
    height: 6px;
    background: green;
    width: 20px;
    position: absolute;
    bottom: -15px;
    right: 70px;
    border-radius: 5px;
}

.ServicesBlock p {
    font-size: 16px;
    color: #fff;
    margin: 40px 0 0 0;
}

.ProjectsH1 {
    margin-bottom: 30px;
    margin-top: 60px;
}

.ProjectsH1 h1 {
    font-weight: bold;
    font-size: 50px;
    text-align: right;
}

.ProjImg {
    direction: rtl;
}

.ProjImg img {
    width: 100% !important;
    border: 10px solid #2E2D2D;
    border-radius: 15px;
    height: 300px;
}

.ProjImg p {
    color: #C6C6C6;
    margin: 0 10px 0 10px;
}

.ProjImg a {
    font-size: 30px;
    margin-right: 10px;
    font-weight: bold;
    letter-spacing: 2px;
    position: relative;
    display: block;

}

.ProjImg a span {
    position: absolute;
    left: 10px;
    top: 7px;
    font-size: 20px;
    color: darkred;
}

.Projets {
    position: relative;
}

.Projets .owl-nav {
    position: absolute;
    top: -108px;
    left: 0;
}

.Projets .owl-nav button {
    background: darkred !important;
    width: 50px;
    height: 50px;
    border-radius: 40px !important;
}

.Projets .owl-nav button span {
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.PartnerSec {
    margin: 70px 0;
    padding: 60px 0;
    background: #1c1b1b;
}

.PartnerH1 h1 {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    margin-bottom: 40px;
}

.PartnersBlock {
    background: #fff;
    padding: 15px 0;
    text-align: center;
}

.MissionImg img {
    width: 100%;
}

.MissionCont h1 {
    font-size: 65px;
    font-weight: bold;
    margin-top: 40px;
}

.MissionCont p {
    color: #C6C6C6;
}

.MissionCont a {
    background: #3D85C6;
    color: #fff;
    padding: 10px 30px;
    border-radius: 40px;
    letter-spacing: 2px;
    outline: 0;
    border: 0;
    margin-top: 15px;
    display: inline-block;
}

.TestMonCont {
    margin-top: 70px;
}

.MissionCont a:hover {
    background: #0d6ac9;
}

.PromiseSec {
    background: darkred;
    margin-top: 60px;
    padding: 40px 0;
}

.PromiseCont {
    margin-bottom: 50px;
}

.PromiseH1 h1 {
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

.PromiseCont img {
    width: 70%;
}

.owl-carousel {
    direction: ltr;
}

.PromiseCont h1 {
    font-size: 25px;
    font-weight: bold;
}

.PromiseCont p {
    padding-left: 30px;
    margin: 0;
}

.TestMonCont h1 {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

.item.TestmonialsImg {
    text-align: center;
}

.QomaCont {
    position: relative;
    width: 120px !important;
    margin: 0 auto;

}

.QomaCont::after {
    content: "";
    width: 40px !important;
    height: 40px !important;
    background: url(../images/qoma.svg) center center no-repeat fixed, darkred;
    bottom: 0;
    left: -10px;
    border-radius: 50px;
    position: absolute;
    display: inline-block;
}

.TestmonialsImg h6 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 20px;
}

.TestmonialsImg p {
    width: 50%;
    margin: 0 auto;
    font-size: 13px;
    color: #C6C6C6;
}

.Testmonials .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
}



.Testmonials .owl-nav button {
    left: 0 !important;
    position: absolute;
    background: #101010 !important;
    color: #fff !important;
    font-size: 25px !important;
    font-weight: bold !important;
    width: 45px;
    height: 45px;
    border-radius: 40px !important;
}

.Testmonials .owl-nav button:hover {
    background: darkred !important;
}

.Testmonials .owl-nav .owl-next {
    right: 0;
    left: unset !important;
}

.BrdBt {
    border-bottom: 1px solid #DCDCDC;
    margin-bottom: 40px;
    padding-bottom: 60px;
}

.CountH1 h1 {
    text-align: center;
    font-weight: bold;
    font-size: 70px;
    margin: 40px 0;
}

.CountNum {
    text-align: center;
}

.CountNum h1 {
    font-weight: bold;
    color: rgb(153, 34, 34);
}

.CountNum p {
    color: #C6C6C6;
}

.CountCont {
    background: #000;
    padding-bottom: 40px;
}

ul.MissionUl {
    list-style: none;
    padding: 10px 0;
}

ul.MissionUl li {
    margin: 10px 0;
}

.Mission2 h1 {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 50px;
}

.Mission2 p {
    color: #C6C6C6;
}

ul.MissionUl li svg {
    color: darkred;
    font-size: 18px;
    margin-left: 5px;
}

.Mission2Img img {
    width: 100%;
}

.Mission2Cont {
    padding-top: 70px;
    padding-bottom: 70px;
}

.ContactImg img {
    width: 107%;
}

.ContactForm {
    background: darkred;
}

.ContactForm form input::placeholder {
    color: #000;

}

.ContactForm form textarea::placeholder {
    color: #000;

}

.ContactForm form textarea:focus {
    outline: 0;
}

.ContactForm form input:focus {
    outline: 0;
}

.ContactForm form input {
    width: 44%;
    margin: 10px 10px;
    display: inline-block;
    height: 45px;
    background: #fff;
    border: 0;
    color: #000 !important;
    padding: 0 10px;
    border-radius: 5px;
    text-align: right;

}

.ContactContentInfo form input {
    direction: rtl;
}

.ContactForm form textarea {
    margin: 10px;
    display: inline-block;
    background: #fff;
    border: 0;
    color: #fff !important;
    padding: 10px;
    border-radius: 5px;
    width: 92%;


}

.ContactForm h1 {
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 20px;
}

.ContactForm form button {
    background: #fff;
    border: 0;
    padding: 10px 25px;
    float: right;
    margin: 10px 40px;
    border-radius: 30px;
    color: #3D85C6;
    font-weight: bold;
}

.BlogCont {
    margin-top: 60px;
    margin-bottom: 60px;
}

.BlogH1 h1 {
    font-weight: bold;
    letter-spacing: 2px;
}

.BlogH1 p {
    width: 50%;
    color: #C6C6C6;
}

.BlogH1 a {
    display: inline-block;
    padding: 10px 40px;
    background: darkred;
    border-radius: 31px;
}

.BlogH1 {
    margin-bottom: 40px;
}

.BlogBlock img {
    width: 100%;
    display: block;
    border-radius: 20px;
}

.BlogBlock span {
    color: #C6C6C6;
    font-size: 13px;
    display: block;
    margin: 8px 0;
    border-bottom: 1px solid #C6C6C6;
    padding-bottom: 10px;
}

.BlogBlock h1 {
    font-size: 25px;
    font-weight: bold;
    margin: 6px 0;
}

.BlogBlock p {
    color: #C6C6C6;
    margin: 20px 0;
}

.BlogBlock a {
    color: #3d85c6;
}

.WorkWithUs {
    background: #000;
    padding: 50px 0;
}

.WorkWithUsH1 h1 {
    font-size: 60px;
    font-weight: bold;
}

.WorkWithUsH1 p {
    color: #C6C6C6;
    margin-top: 20px;
}

.WorkWithUsLink {
    text-align: left;
}

.WorkWithUsLink a {
    background: darkred;
    padding: 20px 60px;
    border-radius: 60px;
    margin-top: 13%;
    display: inline-block;
}

.FooterContainer {
    margin-top: 40px;
}

.footerLogo {
    border-bottom: 1px solid #808080;
    margin-bottom: 40px;
    padding-bottom: 40px;
}

.footerLogo a img {
    width: 150px;
}

.footerUl1 {
    float: right;
    margin-left: 90px;
    padding: 0;
    list-style: none;
}

.footerUl1 li {
    margin-bottom: 15px;
}

.footerUl1 li a {
    color: #C6C6C6;
    padding-left: 8px;
    font-size: 14px;
}

.FooterH1 h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}



.StayTouch {
    margin-top: 10px;
}

.StayTouch h1 {
    font-weight: bold;
    font-size: 40px;
}

.StayTouch p {
    color: #C6C6C6;
    font-size: 14px;
}

.StayTouch form input {
    background: #333333;
    padding: 15px;
    width: 100%;
    border: 0;
    border-radius: 30px;
}

.StayTouch form {
    position: relative;
}

.StayTouch form button {
    position: absolute;
    top: 4px;
    left: 4px;
    background: darkred;
    color: #fff;
    border: 0;
    padding: 11px 30px;
    border-radius: 50px;
}

.footerLinksContainer {
    border-bottom: 1px solid #808080;
    margin-bottom: 30px;
    padding-bottom: 10px;
}

.CopySec {
    color: #C6C6C6;
    padding-bottom: 25px;
}

.footerUl1 li a:hover {
    padding-right: 13px;
    color: #3d85c6;
}

.SocialSec {
    text-align: left;
}

.SocialSec a {
    font-size: 22px;
    margin-left: 5px;
    width: 30px;
    display: inline-block;
    text-align: center;
    height: 30px;
    line-height: 33px;
    border-radius: 50px;
}

.SocialSec a:hover {
    font-size: 18px;
    background: #000;
}

a.Insta {
    color: #c16608;
}

a.Twit {
    color: #1d9bf0;
}

a.Snap {
    color: #fbff00;
}

a.Linked {
    color: #0a66c2;
}

.PreLoader {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    background: #1e1e1e;
    z-index: 10000;
    transition: all 200ms;
}

.pl {
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    height: 110px;
    transition: all 200ms;
}

.pl__ring,
.pl__ball {
    animation: ring 2s ease-out infinite;
}

.pl__ball {
    animation-name: ball;
}

/* Dark theme  */
@media (prefers-color-scheme: dark) {
    :root {
        --bg: hsl(var(--hue), 10%, 10%);
        --fg: hsl(var(--hue), 10%, 90%);
    }
}

/* Animation */
@keyframes ring {
    from {
        stroke-dasharray: 0 257 0 0 1 0 0 258;
    }

    25% {
        stroke-dasharray: 0 0 0 0 257 0 258 0;
    }

    50%,
    to {
        stroke-dasharray: 0 0 0 0 0 515 0 0;
    }
}

@keyframes ball {

    from,
    50% {
        animation-timing-function: ease-in;
        stroke-dashoffset: 1;
    }

    64% {
        animation-timing-function: ease-in;
        stroke-dashoffset: -109;
    }

    78% {
        animation-timing-function: ease-in;
        stroke-dashoffset: -145;
    }

    92% {
        animation-timing-function: ease-in;
        stroke-dashoffset: -157;
    }

    57%,
    71%,
    85%,
    99%,
    to {
        animation-timing-function: ease-out;
        stroke-dashoffset: -163;
    }
}

.MainHead.SubPage {
    min-height: 300px !important;
}

.MainHead.SubPage .BgOpacity {
    min-height: 300px;
    padding-bottom: 70px;
}

.MainHead.SubPage .BgOpacity .WelcomeSec {
    margin-top: 70px;
}



.MainHead.SubPage {
    min-height: 300px !important;
}

.MainHead.SubPage .BgOpacity {
    min-height: 300px;
    padding-bottom: 70px;
}

.MainHead.SubPage .BgOpacity .WelcomeSec {
    margin-top: 70px;
}

.SubHead {
    text-align: center;
}

.SubHead h1 {
    font-weight: bold;
}

.SubServImg {
    margin-top: 40px;
    margin-bottom: 50px;
}

.SubServImg p {
    font-size: 14px;
    position: relative;
    padding-right: 60px;
}

.SubServImg p:before {
    content: "";
    background: darkred;
    width: 50px;
    height: 3px;
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    border-radius: 20px;
}

.SubServImg h1 {
    width: 50%;
    font-weight: bold;
    margin-bottom: 20px;
}

.SubServImg img {
    width: 100%;
}

.SubMission {
    margin-top: 50px;
    margin-bottom: 80px;
}

.WeDevlopeContainer {
    padding-top: 90px;
    padding-bottom: 90px;
}

.WeDevlope h1 {
    font-weight: bold;
    font-size: 50px;
}

.WeDevlope p {
    margin-top: 50px;
    color: #C6C6C6;
    line-height: 2;
}

.ProductsBlockContainer {
    background: #201f1f;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.ProductsBlockImg img {
    width: 100%;
    border-radius: 20px;
}

.ProductsBlockContent img {
    width: 200px;
}

.ProductsBlockContent h1 {
    font-weight: bold;
    margin: 25px 0;
}

.ProductsBlockContent p a {
    background: #19191980;
    border-radius: 30px;
    padding: 5px 20px;
    font-size: 11px;
}

.ProductsBlockContent p {
    font-size: 15px;
    color: #C6C6C6;
}

.ProductBlockCoast {
    margin-top: 50px;
    border-top: 1px solid #c6c6c6;
    padding-top: 35px;
}

.ProductBlockCoast h3 {
    font-weight: bold;
    margin-bottom: 15px;
}

.ProductBlockCoast span {
    color: #C6C6C6;
}

.ProductBlockCoast a {
    margin-left: auto;
    float: left;
    background: darkred;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 43px;
    border-radius: 50px;
    margin-top: -10px;
}

.nav-link:focus {
    color: unset;
}

.SingleProductReq span {
    color: #C6C6C6;
}

.SingleProductReqBtn {
    text-align: left;
}

.SingleProductReqBtn a {
    background: #3D85C6;
    padding: 15px 40px;
    border-radius: 50px;
}

.SingleProductReqBtn a {
    background: #3D85C6;
    padding: 15px 40px;
    border-radius: 50px;
    display: inline-block;
    margin-top: 15px;
}

.SingleProjectMainImg img {
    width: 100%;
}

.SingleProjectBlockContent {
    margin-top: 70px;
    margin-bottom: 40px;
}

.SingleProjectBlockContent img {
    width: 100%;
}

.SingleProjectBlockContent h1 {
    font-weight: bold;
    margin: 15px 0;
}

.SingleProjectBlockContent p {
    color: #C6C6C6;
    font-size: 16px;
}

.SystemCompTitle {
    margin: 60px 0 30px 0;
    text-align: center;
    font-weight: bold;
}

.ProjectDetailsCont h1 {
    margin-bottom: 20px;
}

.ProjectDetailsCont h1 {
    margin-bottom: 20px;
    margin-top: 30px;
    font-weight: bold;
}

.ProjectDetailsCont p {
    color: #C6C6C6;
    line-height: 2;
}

.ProjectDetailsImg img {
    width: 100%;
    height: 400px;
}

.ProjectDetailsImg {
    margin-bottom: 60px;
}

.SingAboutCont>h1 {
    font-weight: bold;
    margin: 20px 0 30px 0;
}

.SingAboutCont>p {
    color: #C6C6C6;
    margin-bottom: 40px;
    border-bottom: 1px solid #C6C6C6;
    padding-bottom: 40px;
}

.SingAboutContBlock>div>div {
    background: #2E2D2D;
    height: 110px;
    border-radius: 15px;
    line-height: 110px;
    text-align: center;
    font-size: 25px;
    color: #808080;
}

.SingAboutContBlock {
    margin-bottom: 20px;
}

.SingAboutContBlockHP h1 {
    font-size: 30px;
    margin-top: 20px;
    font-weight: bold;
}

.SingAboutContBlockHP p {
    color: #C6C6C6;
}


.JoinTeamBtn a {
    background: darkred;
    padding: 20px 60px;
    border-radius: 60px;
    display: inline-block;
}

.SingAboutContBlockImg img {
    width: 100%;
    margin-bottom: 50px;
}

.bgSoftDark {
    background: #2E2D2D;
}

.OurTeamContainer {
    background: #560303;
}

.OurTeamH1 h1 {
    font-weight: bold;
    margin-top: 30px;
}

.OurTeamJoinBtn {
    text-align: left;
}

.OurTeamJoinBtn a {
    display: inline-block;
    padding: 15px 40px;
    background: #fff;
    color: #3d85c6;
    font-weight: bold;
    border-radius: 50px;
    margin-top: 50px;
}

.OurTeamContainer .Projets .owl-nav {
    position: absolute;
    top: 30%;
    right: 0;
}

.OurTeam {
    direction: ltr;
}

.OurTeamSlide img {
    width: 95% !important;
    height: 400px;
    border-radius: 20px;
    margin: 0 auto;
}

.OurTeamSlide h1 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin: 15px 0;
}

.OurTeamSlide p {
    text-align: center;
}

.OurTeamContainer .owl-nav {
    position: absolute;
    top: 200px;
    width: 100%;
}

.OurTeamContainer .owl-nav button {
    width: 50px;
    height: 50px;
    line-height: 0 !important;
    background: #fff !important;
    border-radius: 60px !important;
    font-size: 30px !important;
    color: #3d85c6 !important;
}

.OurTeamContainer .owl-nav .owl-prev {
    left: -20px !important;
    position: absolute;
}

.OurTeamContainer .owl-nav .owl-next {
    right: -20px !important;
    position: absolute;
}

.ContactContentInfo form input {
    width: 44%;
    margin: 10px 10px;
    display: inline-block;
    height: 45px;
    background: #2E2D2D;
    border: 0;
    color: #fff !important;
    padding: 0 10px;
    border-radius: 5px;
}

.ContactContentInfo form textarea {
    margin: 10px;
    display: inline-block;
    background: #2E2D2D;
    border: 0;
    color: #fff !important;
    padding: 10px;
    border-radius: 5px;
    width: 92%;
}

.ContactContentInfo form button {
    background: #3D85C6;
    border: 0;
    padding: 10px 25px;
    margin-right: auto;
    margin-left: 35px;
    display: block;
    border-radius: 30px;
    color: #fff;
    font-weight: bold;
}

.ContactContentImage img {
    width: 100%;
    height: 400px;
}

.CoDetails {
    margin: 70px 0;
    padding: 50px 0;
}

.CoDetails2Blocks {
    background: #191919;
    border-radius: 20px;
    padding: 20px 20px;
}

.CoDetails2Blocks svg {
    font-size: 30px;
    background: #2E2D2D;
    padding: 20px 20px;
    border-radius: 10px;
    color: #808080;
    display: block;
    float: right;
    margin-left: 10px;
}

.CoDetails2Blocks p {
    display: inline-block;
    margin-bottom: 0;
}

.CoDetails2Blocks h1 {
    display: block;
    font-weight: bold;
    font-size: 30px;
}

.SentSuccess {
    margin: 10px;
    background: #2E2D2D;
    border: 0;
    color: #10b705 !important;
    padding: 10px;
    border-radius: 5px;
    width: 92%;
}

.SentSuccess p {
    margin: 0;
}


.nav-link:focus {
    color: unset;
}

.WelcomeTopH5 h1 {
    font-weight: bold;
}


.FaqsTitle {
    margin-top: 30px;
    margin-bottom: 30px;
}

.FaqsTitle h1 {
    font-weight: bold;
    font-size: 45px;
}

.AccordionContainer .accordion-item {
    border: 1px solid #2e2d2d;
    background: #1e1e1e;
    margin: 20px 0;
    border-radius: 20px;
}


button.accordion-button.collapsed {
    background: unset !important;
}

.accordion {
    background: unset !important;
}

.AccordionContainer .accordion-button.collapsed {
    color: #fff;
}

.accordion-button:not(.collapsed) {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}

button.accordion-button {
    box-shadow: unset !important;
    background: unset !important;
}

.accordion-flush .accordion-item:first-child {
    border-top: 1px solid #2e2d2d;
}

.accordion-flush .accordion-item:last-child {
    border-bottom: 1px solid #2e2d2d;
}

.accordion-body {
    color: #fff;
    padding: 20px 30px;
}

.accordion-button::after {
    font-family: "Font Awesome 5 Free";
    content: "\f078";
    display: inline-block;
    vertical-align: middle;
    font-weight: 900;
    background-image: unset !important;
    background-color: #808080;
    width: 35px;
    height: 35px;
    line-height: 37px;
    text-align: center;
    border-radius: 40px;
}

.accordion-button:not(.collapsed)::after {
    background-image: unset !important;
    font-size: 18px;
    background-color: #3d85c6;
}

.AccordionContainer {
    margin-bottom: 50px;
}

.TopLink .active:after {
    content: "";
    width: 80%;
    display: block;
    height: 1px;
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 5px;
}


@media screen and (max-width: 992px) {
    .TalkLeft {
        text-align: center;
    }

    .TalkLeft h5 {
        display: none;
    }

    .TalkLeft a {
        display: inline-block;
        margin-right: 0;
        padding: 7px 8px 8px 20px;
    }

    .TopLink {
        text-align: left;
        padding-left: 20px;
    }

    button.navbar-toggler {
        background: #fff;
    }

    .WelcomeSec {
        margin-top: 70px;
    }

    .BgOpacity {
        min-height: 600px;
    }

    .MainHead {
        min-height: 600px;
    }

    .PartnersBlock {
        margin-bottom: 20px;
    }

    .MissionCont h1 {
        font-size: 45px;
    }

    .CountH1 h1 {
        font-size: 30px;
    }

    .CountNum {
        margin-bottom: 30px;
    }

    .ContactForm h1 {
        font-size: 40px;
        margin-top: 30px;
        text-align: center;
    }

    .BlogH1 p {
        width: 100%;
    }

    .BlogBlock {
        margin-bottom: 40px;
    }

    .BlogBlock p {
        margin: 10px 0;
    }

    .WorkWithUsH1 h1 {
        font-size: 30px;
    }

    .WorkWithUsLink {
        text-align: center;
    }

    .WorkWithUsLink a {
        margin-top: 30px;
    }

    .WorkWithUsH1 {
        text-align: center;
    }

    .footerLogo {
        text-align: center;
    }

    .footerUl1 {
        margin-left: 10px;
    }

    .StayTouch {
        text-align: center;
    }

    .CopySec {
        text-align: center;
    }

    .SocialSec {
        text-align: center;
    }

    .PromiseCont img {
        width: 70%;
        margin: 0 auto;
        display: block;
    }

    .MissionCont {
        text-align: center;
        margin-top: 50px;
    }

    .ContactForm form textarea {
        height: 200px !important;
    }

    .ContactForm form {
        text-align: center;
    }

    .ContactForm form button {
        float: unset;
    }

    .BlogH1 {
        text-align: center;
    }

    .BlogCont {
        margin-bottom: 0px;
    }

    .ContactImg {
        padding: 0;
    }

    .ContactImg img {
        width: 100%;
    }

    .ProjectsH1 h1 {
        font-size: 30px;
    }

    .Projets .owl-nav {
        top: -92px;
    }

    .collection {
        width: 100%;
    }
}


.dropdown .dropdown-menu {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.dropdown:hover .dropdown-menu {
    display: block;
    background-color: #2E2D2D;
    opacity: 1;
    transition-delay: 0.5s;

}


/* ---- services ----  */

.service-t1 {
    padding-top: 100px;
    padding-left: 70%;
}

.img-service {
    margin-top: 90px;
}

.service-t2 {
    padding-top: 10px;
    padding-left: 30%;
}

/* ----- waves -----  */
.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
}

.content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: #fff;
}

@media screen and (max-width: 992px) {
    .waves {
        width: 100%;
    }
}

/* Animation */

.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }

    .content {
        height: 30vh;
    }

}



/* ------- price cards ----  */

section {
    width: 100%;
    /* height: 100vh; */
    box-sizing: border-box;
    padding: 100px 0;
}

.card {
    position: relative;
    max-width: 300px;
    height: auto;
    background: linear-gradient(-45deg, #fe0847, #feae3f);
    border-radius: 15px;
    margin: 0 auto;
    padding: 40px 20px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
    transition: .5s;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.1);
}

.col-sm-4:nth-child(1) .card,
.col-sm-4:nth-child(1) .card .title .fa {
    background: linear-gradient(-45deg, darkred, #f66964);
}

.col-sm-4:nth-child(2) .card,
.col-sm-4:nth-child(2) .card .title .fa {
    background: linear-gradient(-45deg, #ffec61, #f321d7);
}

.col-sm-4:nth-child(3) .card,
.col-sm-4:nth-child(3) .card .title .fa {
    background: linear-gradient(-45deg, #24ff72, #9a4eff);
}

.card:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: rgba(255, 255, 255, .1);
    z-index: 1;
    transform: skewY(-5deg) scale(1.2);
}

.title .fa {
    color: #fff;
    font-size: 60px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .2)
}

.title h2 {
    position: relative;
    margin: 20px 0 0;
    padding: 0;
    color: #fff;
    font-size: 28px;
    z-index: 2;
}

.price {
    position: relative;
    z-index: 2;
}

.price h4 {
    margin: 0;
    padding: 20px 0;
    color: #fff;
    font-size: 60px;
}

.option {
    position: relative;
    z-index: 2;
}

.option ul {
    margin: 0;
    padding: 0;
}

.option ul li {
    margin: 0 0 10px;
    padding: 0;
    list-style: none;
    color: #fff;
    font-size: 16px;
}

.card a {
    position: relative;
    z-index: 2;
    background: #fff;
    color: #2c3e50;
    width: 150px;
    height: 40px;
    display: block;
    line-height: 40px;
    border-radius: 40px;
    font-size: 16px;
    text-align: center;
    margin: 20px auto 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.card a:hover {
    text-decoration: none;
    background: #ecf0f1;
}

.our-price p {
    font-size: xx-large;
    padding-left: 10px;

}

.price-cn {
    padding-top: 350px;
}